:root{ 
  --font-general-Sans: 'General Sans', sans-serif;
  --font-raleway: 'Raleway', sans-serif;
  --font-supreme: 'Supreme', sans-serif;
  --font-roboto: 'Roboto', sans-serif;

  --navbar-height: 50px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::after, *::before{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-roboto)
}

menu {
  position: fixed;
  top: .5rem;
  left: .5rem;
  right: .5rem;
  // height: var(--navbar-height);
  padding: .5rem 1.5rem;
  border-radius: 9999px;
  box-shadow: 0px 2px 2px 2px rgb(170, 170, 170);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 50;
}

.navbar-red {
  // // background-color: $clr-red-600;
  // background-image: linear-gradient(to-right, red, green, blue);
  // background-color: transparent;
  color: $clr-slate-50;
}

menu .icon{
  font-size: 2.5rem;
  width: 2.5rem;
}

input {
  outline: none;
  padding-top: .25rem;
  padding-bottom: .25rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: 300;
  display: block;
}

p {
  padding: 0;
  margin: 0;
}