:root{ 
  --font-general-Sans: 'General Sans', sans-serif;
  --font-raleway: 'Raleway', sans-serif;
  --font-supreme: 'Supreme', sans-serif;
  --font-roboto: 'Roboto', sans-serif;

  --navbar-height: 50px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::after, *::before{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-roboto)
}

menu {
  position: fixed;
  top: .5rem;
  left: .5rem;
  right: .5rem;
  height: var(--navbar-height);
  padding: 0 1rem;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 50;
}

.navbar-red {
  background-color: $clr-red-600;
  color: $clr-slate-50;
}

input {
  outline: none;
  padding-top: .25rem;
  padding-bottom: .25rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: 300;
  display: block;
}