:root {
  --font-general-Sans: "General Sans", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --font-supreme: "Supreme", sans-serif;
  --font-roboto: "Roboto", sans-serif;

  --font-poppins: "Poppins", sans-serif;

  --navbar-height: 50px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-poppins);
  font-style: normal;
}

menu {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
  // height: var(--navbar-height);
  padding: 0.5rem 1.5rem;
  border-radius: 9999px;
  box-shadow: 0px 2px 2px 2px rgb(170, 170, 170);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 50;
}

.navbar-red {
  // // background-color: $clr-red-600;
  // background-image: linear-gradient(to-right, red, green, blue);
  // background-color: transparent;
  color: $clr-slate-50;
}

menu .icon {
  font-size: 2.5rem;
  width: 2.5rem;
}

input {
  outline: none;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

p {
  padding: 0;
  margin: 0;
}
