.page-container {
  padding-top: calc(var(--navbar-height) + 20px);
  padding-bottom: 40px;
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: .75rem;
}

.page-container-fluid {
  padding-top: calc(var(--navbar-height) + 0px);
  // padding-bottom: 40px;
  padding-left: 0rem;
  padding-right: 0rem;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.btn {
  border: none;
  outline: none;
  padding: .5rem 1.5rem;
  border-radius: .5rem;
  text-align: center;
  cursor: pointer;
}

.btn-yellow {
  background-color: $clr-yellow-400;
}

.btn-yellow:hover {
  background-color: $clr-yellow-500;
}

.btn-red {
  background-color: $clr-red-400;
  color: white;
}

.btn-red-dark {
  background-color: $clr-red-500;
  color: white;
}

.btn-red-dark:hover, .btn-red:hover {
  background-color: $clr-red-500;
}

.btn-blue {
  background-color: $clr-blue-400;
  color: $clr-blue-50;
}

.icon-sm {
  width: 1rem;
  font-size: 1rem;
  cursor: pointer;
  display: inline;
}

.icon {
  width: 2rem;
  font-size: 2rem;
  cursor: pointer;
  display: inline;
}

.icon-lg {
  width: 3rem;
  font-size: 3rem;
  cursor: pointer;
  display: inline;
}

.icon-xl {
  width: 4rem;
  font-size: 3rem;
  display: inline;
}

.icon-2xl {
  width: 64px;
  font-size: 4rem;
  display: inline;
}

.icon-3xl {
  width: 72px;
  font-size: 5rem;
  display: inline;
}

.card__header {
  padding: .5rem .5rem;
  // background-color: $clr-slate-300;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
}

.card__body {
  padding: .5rem;
  // background-color: $clr-slate-200;
}

.card__footer {
  padding: .5rem 1rem;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  // background-color: $clr-slate-300;
}

.section-dropdown {
  position: absolute;
  top: 2rem;
  right: 0;
  background-color: $clr-slate-50;
  border-radius: .375rem;
  z-index: 10;
  transition: all .3s ease-in-out;
}

.section-dropdown li {
  padding: .25rem 1rem .25rem .5rem;
}

.section-dropdown li:last-child {
  border-radius: 0 0 .375rem .375rem;
}

.section-dropdown li:hover {
  background-color: $clr-slate-300;
}

.section-dropdown .dropdown-title {
  background-color: $clr-slate-200;
  font-weight: 500;
}

.section-dropdown .dropdown-title:first-child {
  border-radius: .375rem .375rem 0 0;
}

.section-dropdown button {
  width: 100%;
  display: flex;
  align-items: center;
  gap: .75rem;
}

.edit_item {
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.edit_item:hover {
  color: $clr-yellow-500;
}

.dashboard-exercises, .lesson-tracker, .progress, .user-word-lists, .dashboard-links{
  border-radius: .375rem;
  width: 300px;
  color: white;
  width: 300px;
}

.lesson-tracker > li, .dashboard-exercises >li, .progress>li,.user-word-lists > li, .dashboard-links >li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  gap: 1rem;
  transition: all .2s linear;
  cursor: pointer;
}

.dashboard ul >li:first-child {
  border-radius: .375rem .375rem 0 0;
}

.dashboard ul >li:last-child {
  border-radius:  0 0 .375rem .375rem;
}

.lesson-tracker > li {
 background-color: rgba(69, 126, 69, 0.651);
}

.progress > li {
  background-color: rgba(243, 70, 70, 0.733);
 }

 .user-word-lists > li, .dashboard-links >li{
background-color: #aaa;
 }

 .user-word-lists> li:hover , .dashboard-links >li:hover{
background-color: #888;
 }

 .user-word-lists > li:first-child, .dashboard-links >li:first-child{
background-color: #555;
 }

.progress > li:hover {
  background-color: rgba(243, 70, 70, 0.89);
 }

.progress > li:first-child {
  background-color: rgb(241, 36, 36);
}

.progress > li:last-child {
  background-color: rgb(243, 70, 70);
}

.lesson-tracker > li:first-child {
  background-color: rgba(69, 126, 69, 0.911);
}

.lesson-tracker > li:last-child {
  background-color: rgba(99, 182, 99, 0.911);
}

.lesson-tracker > li:hover{
  background-color: rgba(49, 141, 49, 0.822);
}

.dashboard-exercises >li {
  background-color: rgba(78, 98, 185, 0.658);
  color: white;
}

.dashboard-exercises >li:hover {
  background-color: rgba(58, 73, 141, 0.808);
}

.dashboard-exercises > li:first-child {
  background-color: rgba(58, 73, 141, 0.938);
}

.dashboard-exercises > li:last-child {
}
