$clr-slate-50: #f7fee7;
$clr-slate-100: #f1f5f9;
$clr-slate-200: #e2e8f0;
$clr-slate-300: #cbd5e1;
$clr-slate-400: #94a3b8;
$clr-slate-950: #020617;

$clr-zinc-50: #fafafa;
$clr-zinc-100: #f4f4f5;
$clr-zinc-200: #e4e4e7;
$clr-zinc-300: #d4d4d8;
$clr-zinc-400: #a1a1aa;
$clr-zinc-500: #71717a;
$clr-zinc-600: #52525b;
$clr-zinc-700: #3f3f46;
$clr-zinc-800: #27272a;
$clr-zinc-900: #18181b;
$clr-zinc-950: #09090b;

$clr-red-50: #fef2f2;
$clr-red-100: #fee2e2;
$clr-red-200: #fecaca;
$clr-red-300: #fca5a5;
$clr-red-400: #f87171;
$clr-red-500: #ef4444;
$clr-red-600: #dc2626;
$clr-red-700: #b91c1c;
$clr-red-800: #991b1b;
$clr-red-900: #7f1d1d;
$clr-red-950: #450a0a;

$clr-yellow-50: #fefce8;
$clr-yellow-100: #fef9c3;
$clr-yellow-200: #fef08a;
$clr-yellow-300: #fde047;
$clr-yellow-400: #facc15;
$clr-yellow-500: #eab308;
$clr-yellow-600: #ca8a04;
$clr-yellow-700: #a16207;
$clr-yellow-800: #854d0e;
$clr-yellow-900: #713f12;
$clr-yellow-950: #422006;

$clr-blue-50: #eff6ff;
$clr-blue-100: #dbeafe;
$clr-blue-200: #bfdbfe;
$clr-blue-300: #93c5fd;
$clr-blue-400: #60a5fa;
$clr-blue-500: #3b82f6;
$clr-blue-600: #2563eb;
$clr-blue-700: #1d4ed8;
$clr-blue-800: #1e40af;
$clr-blue-900: #1e3a8a;
$clr-blue-950: #172554;

$clr-sky-50: #f0f9ff;
$clr-sky-100: #e0f2fe;
$clr-sky-200: #bae6fd;
$clr-sky-300: #7dd3fc;
$clr-sky-400: #38bdf8;
$clr-sky-500: #0ea5e9;
$clr-sky-600: #0284c7;
$clr-sky-700: #0369a1;
$clr-sky-800: #075985;
$clr-sky-900: #0c4a6e;
$clr-sky-950: #082f49;

$clr-green-50: #f0fdf4;
$clr-green-100: #dcfce7;
$clr-green-200: #bbf7d0;
$clr-green-300: #86efac;
$clr-green-400: #4ade80;
$clr-green-500: #22c55e;
$clr-green-600: #16a34a;
$clr-green-700: #15803d;
$clr-green-800: #166534;
$clr-green-900: #14532d;
$clr-green-950: #052e16;
