.form_input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  flex: 1 1 0%;
}

.input_group,
.field_group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  flex: 1 1 0%;
}

.field {
  flex: 1 1 0%;
  width: 100%;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  border: 2px solid $clr-slate-200;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.field__row {
  width: 100%;
  min-width: fit-content;
  display: grid;
  grid-template-columns: 20% 1fr;
  gap: 1rem;
}

.field__input__row {
  padding: 0.5rem 1rem;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: 400;
  font-size: 1rem;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border-radius: 0.25rem;
  border: 2px solid $clr-slate-200;
}

.field__label {
  color: rgb(94, 94, 94);
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  /* text-transform: uppercase; */
  /* margin-bottom: 0.25rem */
}

.field__input {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: 400;
  font-size: 1rem;
  flex: 1 1 0%;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
}

.field:focus-within {
  border-color: #c29f01;
}

.fields {
  display: grid;
  grid-gap: 1rem;
}

.field__group2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.field__group3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

.field__group4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
}

.add,
.save,
.cancel,
.delete {
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  color: white;
  transition: all 0.2s linear;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.add span,
.save span,
.cancel span,
.delete span {
  display: none;
}

.add {
  background-color: $clr-blue-500;
}
.add:hover {
  background-color: $clr-blue-400;
}

.save {
  background-color: $clr-green-600;
}
.save:hover {
  background-color: $clr-green-500;
}

.cancel {
  background-color: $clr-yellow-500;
}
.cancel:hover {
  background-color: $clr-yellow-400;
}

.delete {
  background-color: $clr-red-600;
}
.delete:hover {
  background-color: $clr-red-500;
}

@media screen and (min-width: 640px) {
  .add span,
  .save span,
  .cancel span,
  .delete span {
    display: inline;
  }
}
