.form_input {
  display: flex;
  align-items: center;
  gap: .5rem;
  flex-wrap: wrap;
  flex: 1 1 0%;
}

.input_group, .field_group {
  display: flex;
  align-items: center;
  gap: .5rem;
  flex-wrap: wrap;
  flex: 1 1 0%;
}

.field {
  flex: 1 1 0%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid $clr-slate-200;
  padding: .5rem;
  border-radius: .25rem;
}

.field__label {
  color: rgb(94, 94, 94);
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  /* text-transform: uppercase; */
  /* margin-bottom: 0.25rem */
}

.field__input {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: 400;
  font-size: 1rem;
  flex: 1 1 0%;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
}

.field:focus-within {
  border-color: #c29f01;
}

.fields {
  display: grid;
  grid-gap: 1rem;
}

.field__group2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem;
}

.field__group3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: .5rem;
}

.field__group4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: .5rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

.otpInput {
  width: 40px;
  height: 40px;
  margin: 5px;
  text-align: center;
  font-size: 1.2em;
}

.form-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba($color: $clr-zinc-700, $alpha: 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.form-container form{ 
  border-radius: .75rem;
  background-color: $clr-slate-100;
  width: 1000px;
  max-width: 80vw;
}

.form-container form h2 {
  background-color: $clr-red-500;
  color: $clr-slate-50;
  flex: 1 1 0%;
  width: 100%;
  font-weight: 500;
  text-align: center;
  padding: .5rem 1rem;
  border-radius: .75rem .75rem 0 0;
}

.form-container form > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.form-container button {
  padding: .5rem 1rem;
  border-radius: .375rem;
}

.form-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: .75rem;
}

.add {
  background-color: $clr-sky-800;
  color: white;
}

.cancel {
  background-color: $clr-yellow-400;
  color: white;
}