:root {
  --primary-color: #c6c3c3;
  --second-color: #ffffff;
  --black-color: #000000;
}

.wrapper {
  width: 100%;
  // height: 100vh;
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: calc(100vh - var(--navbar-height));
  // min-height: 80vh;
  background-color: rgba(255, 0, 0, 0.651);

  // background-image: url("bg.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.login_form {
  // margin-left: auto;
  // margin-right: auto;
  // margin-top: auto;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 450px;
  min-height: fit-content;
  backdrop-filter: blur(25px);
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  padding: 4em 2.5em 2em;
  color: var(--second-color);
  box-shadow: 8px 8px 10px 2px rgba(0, 0, 0, 0.3);
}

.login_header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  // width: 140px;
  width: 160px;
  border-radius: 0 0 20px 20px;
}

.login_header span {
  font-size: 30px;
  color: var(--black-color);
}

.login_header::before {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 30px;
  height: 30px;
  border-top-right-radius: 50%;
  background: transparent;
  box-shadow: 15px 0 0 0 var(--primary-color);
}

.login_header::after {
  content: "";
  position: absolute;
  top: 0;
  right: -30px;
  width: 30px;
  height: 30px;
  border-top-left-radius: 50%;
  background: transparent;
  box-shadow: -15px 0 0 0 var(--primary-color);
}

.input_box {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input_field {
  width: 100%;
  height: 55px;
  font-size: 16px;
  background: transparent;
  color: var(--second-color);
  padding-inline: 20px 50px;
  border: 2px solid var(--primary-color);
  border-radius: 30px;
  outline: none;
}

// #username {
//   margin-bottom: 18px;
// }

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #242424;
  color: #fff;
  padding: 0.5rem;
  position: absolute;
  top: 0.25rem;
  left: 1rem;
  z-index: 5;
}

.instructions > svg {
  margin-right: 0.5rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  border-radius: 0.5rem;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

.otpInput {
  width: 40px;
  height: 40px;
  margin: 5px;
  text-align: center;
  font-size: 1.2em;
}

.label {
  position: absolute;
  top: 15px;
  left: 23px;
  transition: 0.2s;
}

.input_field:focus ~ .label,
.input_field:valid ~ .label {
  position: absolute;
  top: -10px;
  left: 20px;
  font-size: 14px;
  background-color: var(--primary-color);
  border-radius: 30px;
  color: var(--black-color);
  padding: 0 10px;
}

.login_form .icon {
  position: absolute;
  top: 18px;
  right: 25px;
  font-size: 20px;
}

.remember_forgot {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.input_submit {
  width: 100%;
  height: 50px;
  background: #ececec;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
  color: var(--black-color);
  display: block;
}

.input_submit:hover {
  background: var(--second-color);
}

.register {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  flex-shrink: 0;
}

.register a {
  font-weight: 500;
}

@media only screen and (max-width: 564px) {
  .wrapper {
    padding: 20px;
  }
  .login_box {
    padding: 7.5em 1.5em 4em 1.5em;
  }
}
