//
// Navigation
// Menu, sidebar, offcanvas
//

.dropdown-item {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
}

.dropdown-item:hover {
  background-color: grey;
}

.dropdown-item span {
  white-space: nowrap;
  // display: none;
}
