table {
  width: 100%;
  // border: 1px solid black;
  border-collapse: collapse;
}

table caption {
  color: var(--accent);
  background-color: var(--destructive);
  text-align: center;
  font-weight: 600;
  padding: 0.25rem 0;
}

.lesson-table thead {
  color: var(--accent);
  background-color: var(--destructive);
}

.word-table tbody tr {
  cursor: pointer;
  transition: all 300ms ease;
}

.word-table thead tr {
  // background-color: $clr-red-600;
  border: 1px solid black;
  color: white;
}

td,
th {
  text-align: center;
  padding: 0 0.5rem;
}

tbody tr:nth-child(2n) {
  background-color: var(--destructive);
}

tbody tr:nth-child(2n):hover {
}
tbody tr:nth-child(2n + 1):hover {
}
