:root {
  --font-general-Sans: "General Sans", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --font-supreme: "Supreme", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --navbar-height: 50px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-roboto);
}

menu {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
  height: var(--navbar-height);
  padding: 0 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 50;
}

.navbar-red {
  background-color: #dc2626;
  color: #f7fee7;
}

input {
  outline: none;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: 300;
  display: block;
}

p {
  padding: 0;
  margin: 0;
}

.form_input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  flex: 1 1 0%;
}

.input_group, .field_group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  flex: 1 1 0%;
}

.field {
  flex: 1 1 0%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid #e2e8f0;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.field__label {
  color: rgb(94, 94, 94);
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  /* text-transform: uppercase; */
  /* margin-bottom: 0.25rem */
}

.field__input {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: 400;
  font-size: 1rem;
  flex: 1 1 0%;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
}

.field:focus-within {
  border-color: #c29f01;
}

.fields {
  display: grid;
  grid-gap: 1rem;
}

.field__group2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.field__group3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

.field__group4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

.otpInput {
  width: 40px;
  height: 40px;
  margin: 5px;
  text-align: center;
  font-size: 1.2em;
}

.form-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(63, 63, 70, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.form-container form {
  border-radius: 0.75rem;
  background-color: #f1f5f9;
  width: 1000px;
  max-width: 80vw;
}

.form-container form h2 {
  background-color: #ef4444;
  color: #f7fee7;
  flex: 1 1 0%;
  width: 100%;
  font-weight: 500;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem 0.75rem 0 0;
}

.form-container form > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.form-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.add {
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  background-color: #075985;
  color: white;
}

.save {
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  background-color: rgb(64, 150, 64);
  color: white;
}

.cancel {
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  background-color: #fbbf24;
  color: white;
}

.delete {
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  background-color: #f87171;
  color: white;
}

table caption {
  background-color: #dc2626;
  color: #f7fee7;
  text-align: center;
  border-radius: 0.375rem 0.375rem 0 0;
  padding: 0.25rem 0;
}

th {
  align-items: center;
  padding: 0.25rem 1rem;
  font-weight: 400;
}

td {
  text-align: center;
  align-items: center;
  padding: 0.25rem 1rem;
}

.lesson-table thead {
  background-color: #dc2626;
  color: #f7fee7;
}

.word-table tbody tr {
  cursor: pointer;
  transition: all 300ms ease;
}

.word-table thead tr {
  background-color: #dc2626;
  color: white;
}

.word-table tr:last-child {
  border-radius: 0 0 0.375rem 0.375rem;
}

tbody tr:nth-child(2n+1) {
  background-color: rgb(240, 240, 240);
}

tbody tr:nth-child(2n):hover {
  background-color: rgb(180, 180, 180);
}

tbody tr:nth-child(2n+1):hover {
  background-color: rgb(180, 180, 180);
}

.page-container {
  padding-top: calc(var(--navbar-height) + 20px);
  padding-bottom: 40px;
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
}

.page-container-fluid {
  padding-top: 0px;
  padding-left: 0rem;
  padding-right: 0rem;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.btn {
  border: none;
  outline: none;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  text-align: center;
  cursor: pointer;
}

.btn-yellow {
  background-color: #fbbf24;
}

.btn-yellow:hover {
  background-color: #eab308;
}

.btn-red {
  background-color: #f87171;
  color: white;
}

.btn-red-dark {
  background-color: #ef4444;
  color: white;
}

.btn-red-dark:hover, .btn-red:hover {
  background-color: #ef4444;
}

.btn-blue {
  background-color: #60a5fa;
  color: #eff6ff;
}

.icon-sm {
  width: 1rem;
  font-size: 1rem;
  cursor: pointer;
  display: inline;
}

.icon {
  width: 2rem;
  font-size: 2rem;
  cursor: pointer;
  display: inline;
}

.icon-lg {
  width: 3rem;
  font-size: 3rem;
  cursor: pointer;
  display: inline;
}

.icon-xl {
  width: 4rem;
  font-size: 3rem;
  display: inline;
}

.icon-2xl {
  width: 64px;
  font-size: 4rem;
  display: inline;
}

.icon-3xl {
  width: 72px;
  font-size: 5rem;
  display: inline;
}

.card__header {
  padding: 0.5rem 0.5rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.card__body {
  padding: 0.5rem;
}

.card__footer {
  padding: 0.5rem 1rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.section-dropdown {
  position: absolute;
  top: 2rem;
  right: 0;
  background-color: #f7fee7;
  border-radius: 0.375rem;
  z-index: 30;
  transition: all 0.3s ease-in-out;
}

.section-dropdown li {
  padding: 0.25rem 1rem 0.25rem 0.5rem;
}

.section-dropdown li:last-child {
  border-radius: 0 0 0.375rem 0.375rem;
}

.section-dropdown li:hover {
  background-color: #cbd5e1;
}

.section-dropdown .dropdown-title {
  background-color: #e2e8f0;
  font-weight: 500;
}

.section-dropdown .dropdown-title:first-child {
  border-radius: 0.375rem 0.375rem 0 0;
}

.section-dropdown button {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.edit_item {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.edit_item:hover {
  color: #eab308;
}

:root {
  --primary-color: #c6c3c3;
  --second-color: #ffffff;
  --black-color: #000000;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url("bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.login_form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 450px;
  min-height: fit-content;
  backdrop-filter: blur(25px);
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  padding: 4em 2.5em 2em;
  color: var(--second-color);
  box-shadow: 8px 8px 10px 2px rgba(0, 0, 0, 0.3);
}

.login_header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  width: 140px;
  border-radius: 0 0 20px 20px;
}

.login_header span {
  font-size: 30px;
  color: var(--black-color);
}

.login_header::before {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 30px;
  height: 30px;
  border-top-right-radius: 50%;
  background: transparent;
  box-shadow: 15px 0 0 0 var(--primary-color);
}

.login_header::after {
  content: "";
  position: absolute;
  top: 0;
  right: -30px;
  width: 30px;
  height: 30px;
  border-top-left-radius: 50%;
  background: transparent;
  box-shadow: -15px 0 0 0 var(--primary-color);
}

.input_box {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.input_field {
  width: 100%;
  height: 55px;
  font-size: 16px;
  background: transparent;
  color: var(--second-color);
  padding-inline: 20px 50px;
  border: 2px solid var(--primary-color);
  border-radius: 30px;
  outline: none;
}

.label {
  position: absolute;
  top: 15px;
  left: 23px;
  transition: 0.2s;
}

.input_field:focus ~ .label,
.input_field:valid ~ .label {
  position: absolute;
  top: -10px;
  left: 20px;
  font-size: 14px;
  background-color: var(--primary-color);
  border-radius: 30px;
  color: var(--black-color);
  padding: 0 10px;
}

.login_form .icon {
  position: absolute;
  top: 18px;
  right: 25px;
  font-size: 20px;
}

.remember_forgot {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.input_submit {
  width: 100%;
  height: 50px;
  background: #ececec;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
  color: var(--black-color);
  display: block;
}

.input_submit:hover {
  background: var(--second-color);
}

.register {
  min-height: fit-content;
  text-align: center;
  display: block;
  flex-shrink: 0;
}

.register a {
  font-weight: 500;
}

@media only screen and (max-width: 564px) {
  .wrapper {
    padding: 20px;
  }
  .login_box {
    padding: 7.5em 1.5em 4em 1.5em;
  }
}
.word_col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.word {
  text-align: center;
  border-width: 0.15rem;
  border-radius: 0.375rem;
  width: 10rem;
  height: 3rem;
  white-space: wrap;
  transition: all 0.2s linear;
}

.exercise-card {
  border: 2px solid rgb(23, 21, 117);
  border-radius: 0.375rem;
  width: 350px;
}

.exercise-card h2 {
  background-color: rgb(23, 21, 117);
  color: white;
  padding: 0.5rem 1rem;
}

.exercise-card > div {
  min-height: 100px;
  padding: 0.5rem;
}

.dashboard-exercises, .lesson-tracker, .progress, .user-word-lists, .dashboard-links {
  border-radius: 0.375rem;
  width: 300px;
  width: 300px;
}

.lesson-tracker > li, .dashboard-exercises > li, .progress > li, .user-word-lists > li, .dashboard-links > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 1rem;
  transition: all 0.2s linear;
  cursor: pointer;
}

.progress {
  border: 4px solid rgb(241, 36, 36);
}

.progress > li:first-child {
  color: white;
  background-color: rgb(241, 36, 36);
}

.progress > li {
  background-color: rgba(245, 40, 40, 0.658);
}

.progress > li:hover {
  background-color: rgba(245, 40, 40, 0.815);
}

.lesson-tracker {
  border: 4px solid rgba(69, 126, 69, 0.911);
}

.lesson-tracker > li:first-child {
  background-color: rgba(69, 126, 69, 0.911);
  color: white;
}

.lesson-tracker > li:last-child {
  background-color: rgba(99, 182, 99, 0.911);
  color: white;
}

.lesson-tracker > li {
  background-color: rgba(49, 141, 49, 0.582);
}

.lesson-tracker > li:hover {
  background-color: rgba(49, 141, 49, 0.822);
}

.dashboard-exercises {
  border: 4px solid rgba(58, 73, 141, 0.938);
}

.dashboard-exercises > li {
  background-color: rgba(78, 98, 185, 0.658);
}

.dashboard-exercises > li:hover {
  background-color: rgba(58, 73, 141, 0.808);
}

.dashboard-exercises > li:first-child {
  background-color: rgba(58, 73, 141, 0.938);
}

.user-word-lists, .dashboard-links {
  border: 4px solid #555;
}

.user-word-lists > li, .dashboard-links > li {
  background-color: #777;
}

.user-word-lists > li:hover, .dashboard-links > li:hover {
  background-color: #888;
}

.user-word-lists > li:first-child, .dashboard-links > li:first-child {
  background-color: #555;
  color: white;
}

.dashboard ul > li {
  color: white;
  border-width: 4px;
}

.dashboard ul > li > span {
  flex: 1 1 0%;
}

.dashboard .word-types {
  padding: 0.25rem 0.5rem;
  border: 2px solid white;
  border-radius: 0.375rem;
  width: fit-content;
}