:root {
  --font-general-Sans: "General Sans", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --font-supreme: "Supreme", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --navbar-height: 50px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-roboto);
}

menu {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
  height: var(--navbar-height);
  padding: 0 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 50;
}

.navbar-red {
  background-color: #dc2626;
  color: #f7fee7;
}

input {
  outline: none;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: 300;
  display: block;
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid #e2e8f0;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.field__label {
  color: rgb(94, 94, 94);
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  /* text-transform: uppercase; */
  /* margin-bottom: 0.25rem */
}

.field__input {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: 400;
  font-size: 1rem;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
}

.field:focus-within {
  border-color: #c29f01;
}

.fields {
  display: grid;
  grid-gap: 1rem;
}

.field__group2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.field__group3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

.field__group4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

.otpInput {
  width: 40px;
  height: 40px;
  margin: 5px;
  text-align: center;
  font-size: 1.2em;
}

table {
  width: 100%;
}

tbody tr {
  cursor: pointer;
  transition: all 300ms ease;
}

thead tr {
  background-color: #dc2626;
  color: white;
}

tbody tr:nth-child(2n+1) {
  background-color: rgb(240, 240, 240);
}

tbody tr:nth-child(2n):hover {
  background-color: rgb(180, 180, 180);
}

tbody tr:nth-child(2n+1):hover {
  background-color: rgb(180, 180, 180);
}

th {
  align-items: center;
  padding: 0 0.25rem;
  font-weight: 400;
}

td {
  text-align: center;
  align-items: center;
}

.page-container {
  padding-top: calc(var(--navbar-height) + 20px);
  padding-bottom: 40px;
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.page-container-fluid {
  padding-top: calc(var(--navbar-height) + 0px);
  padding-left: 0rem;
  padding-right: 0rem;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.btn {
  border: none;
  outline: none;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  text-align: center;
  cursor: pointer;
}

.btn-yellow {
  background-color: #fbbf24;
}

.btn-yellow:hover {
  background-color: #eab308;
}

.btn-red {
  background-color: #f87171;
  color: white;
}

.btn-red-dark {
  background-color: #ef4444;
  color: white;
}

.btn-red-dark:hover, .btn-red:hover {
  background-color: #ef4444;
}

.btn-blue {
  background-color: #60a5fa;
  color: #eff6ff;
}

.icon-sm {
  width: 1rem;
  font-size: 1rem;
  cursor: pointer;
  display: inline;
}

.icon {
  width: 2rem;
  font-size: 2rem;
  cursor: pointer;
  display: inline;
}

.icon-lg {
  width: 3rem;
  font-size: 3rem;
  cursor: pointer;
  display: inline;
}

.icon-xl {
  width: 4rem;
  font-size: 3rem;
  display: inline;
}

.icon-2xl {
  width: 64px;
  font-size: 4rem;
  display: inline;
}

.icon-3xl {
  width: 72px;
  font-size: 5rem;
  display: inline;
}

.card__header {
  padding: 0.5rem 0.5rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.card__body {
  padding: 0.5rem;
}

.card__footer {
  padding: 0.5rem 1rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

:root {
  --primary-color: #c6c3c3;
  --second-color: #ffffff;
  --black-color: #000000;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url("bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.login_form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 450px;
  min-height: fit-content;
  backdrop-filter: blur(25px);
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  padding: 4em 2.5em;
  color: var(--second-color);
  box-shadow: 8px 8px 10px 2px rgba(0, 0, 0, 0.3);
}

.login_header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  width: 140px;
  border-radius: 0 0 20px 20px;
}

.login_header span {
  font-size: 30px;
  color: var(--black-color);
}

.login_header::before {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 30px;
  height: 30px;
  border-top-right-radius: 50%;
  background: transparent;
  box-shadow: 15px 0 0 0 var(--primary-color);
}

.login_header::after {
  content: "";
  position: absolute;
  top: 0;
  right: -30px;
  width: 30px;
  height: 30px;
  border-top-left-radius: 50%;
  background: transparent;
  box-shadow: -15px 0 0 0 var(--primary-color);
}

.input_box {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.input_field {
  width: 100%;
  height: 55px;
  font-size: 16px;
  background: transparent;
  color: var(--second-color);
  padding-inline: 20px 50px;
  border: 2px solid var(--primary-color);
  border-radius: 30px;
  outline: none;
}

.label {
  position: absolute;
  top: 15px;
  left: 23px;
  transition: 0.2s;
}

.input_field:focus ~ .label,
.input_field:valid ~ .label {
  position: absolute;
  top: -10px;
  left: 20px;
  font-size: 14px;
  background-color: var(--primary-color);
  border-radius: 30px;
  color: var(--black-color);
  padding: 0 10px;
}

.login_form .icon {
  position: absolute;
  top: 18px;
  right: 25px;
  font-size: 20px;
}

.remember_forgot {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.input_submit {
  width: 100%;
  height: 50px;
  background: #ececec;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
  color: var(--black-color);
  display: block;
}

.input_submit:hover {
  background: var(--second-color);
}

.register {
  min-height: fit-content;
  text-align: center;
  display: block;
  flex-shrink: 0;
}

.register a {
  font-weight: 500;
}

@media only screen and (max-width: 564px) {
  .wrapper {
    padding: 20px;
  }
  .login_box {
    padding: 7.5em 1.5em 4em 1.5em;
  }
}