@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --font-general-Sans: "General Sans", sans-serif;
    --font-raleway: "Raleway", sans-serif;
    --font-supreme: "Supreme", sans-serif;
    --font-roboto: "Roboto", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --navbar-height: 80px;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 72.2% 50.6%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 72.2% 50.6%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-poppins);
  font-style: normal;
  min-height: 100vh;
}

menu {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: 9999px;
  box-shadow: 0px 2px 2px 2px rgb(170, 170, 170);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 50;
}

.navbar-red {
  color: #f7fee7;
}

input {
  outline: none;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

h1,
p {
  padding: 0;
  margin: 0;
  text-wrap: wrap;
}

main {
  padding: 0.5rem;
  height: full;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
  flex: 1 1 0%;
  margin-left: auto;
  margin-right: auto;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-self: stretch;
  width: 100%;
  height: 100%;
  gap: 0.5rem;
}

@media screen and (min-width: 640px) {
  main {
    padding: 1rem;
  }
}
.form_input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  flex: 1 1 0%;
}

.input_group,
.field_group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  flex: 1 1 0%;
}

.field {
  flex: 1 1 0%;
  width: 100%;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  border: 2px solid #e2e8f0;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.field__label {
  color: rgb(94, 94, 94);
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  /* text-transform: uppercase; */
  /* margin-bottom: 0.25rem */
}

.field__input {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: 400;
  font-size: 1rem;
  flex: 1 1 0%;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
}

.field:focus-within {
  border-color: #c29f01;
}

.fields {
  display: grid;
  grid-gap: 1rem;
}

.field__group2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.field__group3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

.field__group4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
}

.form-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(63, 63, 70, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 60;
}

.form-container form {
  background-color: #f1f5f9;
  min-width: fit-content;
  width: 70vw;
  max-width: 1000px;
  margin-right: 1rem;
  margin-left: 1rem;
}

.form-container form h2 {
  background-color: #ef4444;
  color: #f7fee7;
  flex: 1 1 0%;
  width: 100%;
  font-weight: 500;
  text-align: center;
  padding: 0.5rem 1rem;
}

.form-container form > div {
  max-height: 80vh;
  overflow-y: auto;
}

.form-container form .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.form-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  padding: 0.5rem;
}

.add,
.save,
.cancel,
.delete {
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  color: white;
  transition: all 0.2s linear;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.add span,
.save span,
.cancel span,
.delete span {
  display: none;
}

.add {
  background-color: #3b82f6;
}

.add:hover {
  background-color: #60a5fa;
}

.save {
  background-color: #22c55e;
}

.save:hover {
  background-color: #4ade80;
}

.cancel {
  background-color: #eab308;
}

.cancel:hover {
  background-color: #facc15;
}

.delete {
  background-color: #dc2626;
}

.delete:hover {
  background-color: #ef4444;
}

@media screen and (min-width: 640px) {
  .add span,
  .save span,
  .cancel span,
  .delete span {
    display: inline;
  }
}
table {
  width: 100%;
  border-collapse: collapse;
}

table caption {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  color: #dc2626;
  text-align: center;
  font-weight: 600;
  padding: 0.25rem 0;
}

.lesson-table thead {
  color: #dc2626;
}

.word-table tbody tr {
  cursor: pointer;
  transition: all 300ms ease;
}

.word-table thead tr {
  border: 1px solid black;
  color: white;
}

td,
th {
  text-align: center;
  border: 1px solid rgba(128, 128, 128, 0.5);
  padding: 0 0.5rem;
}

tbody tr:nth-child(2n):hover {
  background-color: rgba(180, 180, 180, 0.3);
}

tbody tr:nth-child(2n+1):hover {
  background-color: rgba(180, 180, 180, 0.3);
}

.icon-sm {
  width: 1rem;
  font-size: 1rem;
  cursor: pointer;
  display: inline;
}

.icon {
  width: 2rem;
  font-size: 2rem;
  cursor: pointer;
  display: inline;
}

.icon-lg {
  width: 3rem;
  font-size: 3rem;
  cursor: pointer;
  display: inline;
}

.icon-xl {
  width: 4rem;
  font-size: 3rem;
  display: inline;
}

.icon-2xl {
  width: 64px;
  font-size: 4rem;
  display: inline;
}

.icon-3xl {
  width: 72px;
  font-size: 5rem;
  display: inline;
}

.card__header {
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.card__body {
  padding: 0.5rem 1rem;
}

.card__footer {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f7fee7;
  border-radius: 0.375rem;
  z-index: 40;
  transition: all 0.3s ease-in-out;
}

.section-dropdown li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 0.25rem 1rem 0.25rem 0.5rem;
}

.section-dropdown li:last-child {
  border-radius: 0 0 0.375rem 0.375rem;
}

.section-dropdown .dropdown-title {
  background-color: #cbd5e1;
  font-weight: 500;
  justify-content: flex-start;
}

.section-dropdown .dropdown-title:first-child {
  border-radius: 0.375rem 0.375rem 0 0;
}

.section-dropdown button {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.section-dropdown button span {
  display: none;
}

.edit_item {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.edit_item:hover {
  color: #eab308;
}

.btn {
  border: none;
  outline: none;
  padding: 0.5rem 1.5rem;
  text-align: center;
  transition: all 0.2s linear;
}

.btn-r {
  border: none;
  outline: none;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  text-align: center;
}

.btn-yellow {
  background-color: #eab308;
  color: white;
}

.btn-yellow:hover {
  background-color: #facc15;
}

.btn-red {
  background-color: #ef4444;
  color: white;
}

.btn-red:hover {
  background-color: #f87171;
}

.btn-blue {
  background-color: #3b82f6;
  color: #eff6ff;
}

.btn-blue:hover {
  background-color: #60a5fa;
}

.mobile-menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: fit-content;
  background-color: #f7fee7;
  z-index: 40;
  transition: all 0.3s ease-in-out;
}

.mobile-menu .dropdown-item {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu .dropdown-item span {
  white-space: nowrap;
}

:root {
  --primary-color: #afafaf;
  --primary-hover-color: #cccccc;
  --second-color: #303030;
  --black-color: #000000;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: calc(100vh - var(--navbar-height));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.login_form {
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 450px;
  min-height: fit-content;
  backdrop-filter: blur(25px);
  background-color: rgb(236, 236, 236);
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  padding: 4em 2.5em 2em;
  color: var(--second-color);
  box-shadow: 8px 8px 10px 2px rgba(0, 0, 0, 0.3);
}

.login_header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  width: 160px;
  border-radius: 0 0 20px 20px;
}

.login_header span {
  font-size: 30px;
  color: var(--black-color);
}

.login_header::before {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 30px;
  height: 30px;
  border-top-right-radius: 50%;
  background: transparent;
  box-shadow: 15px 0 0 0 var(--primary-color);
}

.login_header::after {
  content: "";
  position: absolute;
  top: 0;
  right: -30px;
  width: 30px;
  height: 30px;
  border-top-left-radius: 50%;
  background: transparent;
  box-shadow: -15px 0 0 0 var(--primary-color);
}

.input_box {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input_field {
  width: 100%;
  height: 55px;
  font-size: 16px;
  background: transparent;
  color: var(--second-color);
  padding-inline: 20px 50px;
  border: 2px solid var(--primary-color);
  border-radius: 30px;
  outline: none;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #242424;
  color: #fff;
  padding: 0.5rem;
  position: absolute;
  top: 0.25rem;
  left: 1rem;
  z-index: 5;
}

.instructions > svg {
  margin-right: 0.5rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  border-radius: 0.5rem;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

.otpInput {
  width: 40px;
  height: 40px;
  margin: 5px;
  text-align: center;
  font-size: 1.2em;
}

.label {
  position: absolute;
  top: 15px;
  left: 23px;
  transition: 0.2s;
}

.input_field ~ .label {
  position: absolute;
  top: -10px;
  left: 20px;
  font-size: 14px;
  background-color: var(--primary-color);
  border-radius: 30px;
  color: var(--black-color);
  padding: 0 10px;
}

.login_form .icon {
  position: absolute;
  top: 18px;
  right: 25px;
  font-size: 20px;
}

.remember_forgot {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.input_submit {
  width: 100%;
  height: 50px;
  background: #c0c0c0;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
  color: var(--black-color);
  display: block;
}

.input_submit:hover {
  background: var(--primary-hover-color);
}

.register {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  flex-shrink: 0;
}

.register a {
  font-weight: 500;
}

@media only screen and (max-width: 564px) {
  .wrapper {
    padding: 20px;
  }
  .login_box {
    padding: 7.5em 1.5em 4em 1.5em;
  }
}
.word_col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.word {
  text-align: center;
  border-width: 0;
  width: 10rem;
  height: 3rem;
  white-space: wrap;
  transition: all 0.2s linear;
  font-weight: 500;
  color: white;
}

.exercise-card {
  border: 2px solid rgb(23, 21, 117);
}

.exercise-card h2 {
  background-color: rgb(23, 21, 117);
  color: white;
  padding: 0.5rem 1rem;
}

.exercise-card > div {
  min-height: 100px;
  padding: 0.5rem;
}

.dashboard-exercises,
.lesson-tracker,
.progress,
.user-word-lists,
.dashboard-links {
  border-radius: 0.375rem;
  width: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  color: white;
}

.lesson-tracker li,
.dashboard-exercises li,
.progress li,
.user-word-lists li,
.dashboard-links li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 1rem;
  transition: all 0.2s linear;
  cursor: pointer;
}

.progress {
  border: 4px solid rgb(241, 36, 36);
}

.progress > li:first-child {
  color: white;
  background-color: rgb(241, 36, 36);
}

.progress > li {
  background-color: rgba(245, 40, 40, 0.658);
}

.progress > li:hover {
  background-color: rgba(245, 40, 40, 0.815);
}

.lesson-tracker {
  border: 4px solid rgba(69, 126, 69, 0.911);
}

.lesson-tracker > li:first-child {
  background-color: rgba(69, 126, 69, 0.911);
}

.lesson-tracker > li:last-child {
  background-color: rgba(99, 182, 99, 0.911);
  color: white;
}

.lesson-tracker > li {
  background-color: rgba(49, 141, 49, 0.582);
}

.lesson-tracker > li:hover {
  background-color: rgba(49, 141, 49, 0.822);
}

.dashboard-exercises {
  border: 4px solid rgba(58, 73, 141, 0.938);
}

.dashboard-exercises > li {
  background-color: rgba(78, 98, 185, 0.658);
}

.dashboard-exercises > li:hover {
  background-color: rgba(58, 73, 141, 0.808);
}

.dashboard-exercises > li:first-child {
  background-color: rgba(58, 73, 141, 0.938);
}

.user-word-lists,
.dashboard-links {
  border: 4px solid #555;
}

.user-word-lists > li,
.dashboard-links > li {
  background-color: #777;
}

.user-word-lists > li:hover,
.dashboard-links > li:hover {
  background-color: #888;
}

.user-word-lists > li:first-child,
.dashboard-links > li:first-child {
  background-color: #555;
  color: white;
}

.dashboard ul > li {
  color: white;
}

.dashboard ul > li > span {
  flex: 1 1 0%;
}

.dashboard .word-types {
  padding: 0.25rem 0.5rem;
  border: 2px solid white;
  border-radius: 0.375rem;
  width: fit-content;
}